.project-intro{
    display: grid;
    grid-template-columns: 55% 45%;
    margin-top: 8rem;
}

/* Left Text */
.project_text{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.intro_title h1{
    /* font-size: clamp(1.8rem, 4vw, 3.5rem); */
    width: 100%;
    height: auto;
    word-spacing: 0.4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.intro_title h5{
    width: 100%;
    height: auto;
    margin-bottom: 1.7rem;
}

.intro_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 4.5rem;
}

.title_items{
    display: flex;
    gap: 6rem;
}

.intro_solution{
    padding-bottom: 3rem;
}

.line-container{
    margin-bottom: 2.2rem;
}

/* Right Image */
.project-dribble img{
    width: 50rem;
    height: 50rem;
    object-fit:cover;
    flex-shrink: 0;
}

/* tablet */
@media screen and (min-width: 1024px){

}

/* mobile */
@media screen and (max-width: 768px){
    .intro_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro_title h1{
        width: 90vw;
        height: auto;
    }
    .intro_title h5{
        width: 100vw;
        height: auto;
    }
    .intro_content{
        width: 80vw;
        height: auto;
    } 
    .project-intro{
        display: flex;
        flex-direction: column;
    }
    .title_items{
        width: 100vw;
        height: auto;
        display: flex;
        width: 100%;
    }
    /* .intro-title {
        width: 20%;
        height: auto;
    } */
    .project-dribble{
        width: clamp(40%, 80vw, 100%);
        height: auto;
        object-fit: cover;
    }

}