.video-container{
    width: 52rem;
    height: auto;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
    .video-container{
        max-width: 100vw;
        height: auto;
        margin: 0;
        padding: 1.5rem 0;
    }
}