.wireframe{
    display: flex;
    justify-content: center;
    width: auto;
    height: 29rem;
    object-fit: cover;
    margin: 0 auto;
    gap: 1rem;
}

@media screen and (max-width: 576px){
    .wireframe{
        display: inline;
    }
    .wireframe img{
        display: flex;
        width: auto;
        height: auto;
        padding: 1rem 0;
    }
}