@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Send Footer to Bottom */
html, body, #root{
    min-height: 100vh;
}

#root{
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/* Root Styles */
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.site-header{
    position: fixed;
    padding: 2rem 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: black; Or your theme */
    transition: transform 0.1s ease-in-out;
}

.grid{
    align-items: center;
}

.site-header ul{
    display: flex;
    gap: 2.5rem;
    justify-content: end;
}

#home-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#z-logo{
    width: 70%;
    height: auto;
}