/* Hero Section */
.sub-title{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 12;
    text-align: center;
    margin: 0 0 12rem 16rem;
}

#hero-section{
    display: grid;
    justify-content: center;
    align-content: center;
}

#title_mobile-display{
    display: none;
}

/* Project Section */
.project-overview{
    padding-bottom: 5rem;
}
.main-content{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1rem 0;
}

.order{
    justify-content: center;
    padding-top: 12rem;
    margin: 3rem;
}

.side-content{
    display: grid;
}

.dribbleA{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0.7rem;
}

.dribbleB{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0.7rem;
}

.dribbleA-1 img, 
.dribbleA-2 img,
.dribbleB-1 img,
.dribbleB-2 img{
    width: 100%;
    height: auto;
    opacity: 70%;
    object-fit: cover;
    flex-shrink: 0;
}

.dribbleA-1 img:hover, 
.dribbleA-2 img:hover,
.dribbleB-1 img:hover,
.dribbleB-2 img:hover {
    transition: opacity 100% 0.3s ease;
}

#dribble-lunchlady, #intro-pet-app{
    height: 100%;
    object-fit: cover;
}

.side-content_2{
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.project-title{
    padding: 0.5rem 0;
}

/* Button */
.btn-skills-container{
    display: flex;
    width: auto;
    height: auto;
    gap: 10px;
}

.btn-skills{ 
    display: flex;
    justify-content: center;
    background-color: #E15F55;
    width: auto;
    height: 1.5rem;
    border-radius: 20px;
    align-items: center;
    padding: 0.8rem 1.125rem;
    color: #2E1E1B;
}

.btn-skills p{
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    .sub-title, .order, .project-title p, .btn-skills{
        display: none;
    }
    #dribble-federal, #dribble-lunchlady, #intro-pet-app, #dribble-givewise{
        aspect-ratio: 1 / 1;
        width: 100%;
        display: block;
        object-fit: cover;
        grid-column: span 2;
    }
    #intro-federal, #intro-lunchlady, #dribble-pet-app, #intro-givewise, .mark1, .mark2{
        display: none;
    }
    .dribbleA, .dribbleB{
        grid-template-columns: 1fr;
    }
    .line{
        width: 100%;
    }
    #hero-section{
        display: flex;
        justify-content: center;
    }
    #title_mobile-display{
        display: flex;
        padding: 2rem 0;
    }
}